:root {
    --color-bg-dark: hsl(225, 50%, 2%);
    --color-bg: hsl(220, 12%, 10%);
    --text: hsl(214, 23%, 86%);
    --text-muted: oklch(0.76 0.02 252);
    --border: oklch(0.76 0.02 252);
    --primary:  hsl(212, 29%, 56%); 
    --secondary: oklch(0.76 0.1 72);
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-bg-dark);
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    box-shadow: 0 0 15px 1px var(--border);
    padding-bottom: 30px;
    width: 500px;
    border-radius: 10px;
}

.header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin: 30px 0;
    font-size: 2.2rem; 
}

.text {
    background: -webkit-linear-gradient(45deg, hsl(212, 51%, 81%), hsl(213, 26%, 50%));
    -webkit-background-clip: text; /* WebKit-based browsers */
    background-clip: text;         /* Standard syntax */
    -webkit-text-fill-color: transparent; /* WebKit-based browsers */
    color: transparent;
}

.underline {
    width: 55px;
    height: 3px;
    background-color: var(--primary);
    border-radius: 10px;
}


.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.inputs i {
    margin: 0 10px;
    font-size: 1.5rem;
}

.input {
    background-color: var(--color-bg-dark);
    width: 300px;
    padding: 20px;
    color: var(--text);
    border-radius: 10px;
}

.input input {
    border: none;
    outline: none;
    background-color: var(--color-bg-dark);
    color: white;
    width: 80%;
    font-size: 1rem;
}

.forgot-password {
    text-align: center;
    margin: 20px 0;
}

.forgot-password span {
    color: var(--primary);
    cursor: pointer;
    font-weight: bold;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.submit-container .submit {
    border: none;
    padding: 10px 0;
    width: 130px;
    font-size: 1.2rem;
    margin: 20px 30px;
    border-radius: 10px;
    color: var(--text);
    background-color: hsl(211, 10%, 41%);
    cursor: pointer;
}

.submit-container .submit:hover {
    background-color: var(--primary);
}


.submit-container .gray {
    color: var(--text);
    background-color: var(--primary);
}